/* MEDIA QUERIES */
@media only screen and (max-width: 1400px) {
  .showcase {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 1275px) {
  .content {
    font-size: 1.75rem;
    padding-left: 2rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 1160px) {
  .showcase {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 985px) {
  .showcase {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 985px) {
  .welcome-note {
    font-size: 2.5rem;
  }
  .landing-profile-photo {
    width: 20rem;
    height: 20rem;
  }
  .mail p {
    font-size: 1.7rem;
  }
  .social-links img {
    width: 2rem;
    height: 2rem;
  }
}
@media only screen and (max-width: 950px) {
  .nav-items {
    display: none;
  }
  .nav-icon {
    display: contents;
  }
}
@media only screen and (max-width: 825px) {
  .box {
    flex-direction: column;
  }
  .content {
    font-size: 1.7rem;
    padding: 40px 0;
    line-height: 2.5rem;
  }
  .project {
    display: flex;
    flex-direction: column;
  }
  .left,
  .right {
    margin: 0;
  }
  .project-img {
    order: 1;
  }
  .project-description {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    order: 2;
  }
  .project-buttons {
    align-self: center;
  }
}
@media only screen and (max-width: 680px) {
  .showcase {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 580px) {
  .social-links {
    flex-direction: column;
  }
  .mail {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--color-primary);
  }
  .mail p {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 435px) {
  .sticky-nav {
    justify-content: space-between;
    height: 45px;
  }
  .logo {
    width: 4rem;
    height: 3rem;
    padding-left: 20px;
  }
  .nav-icon img {
    margin-right: 20px;
  }
  .welcome-note {
    font-size: 2.25rem;
  }
  .showcase {
    grid-column-gap: 1.5rem;
  }
  .skill {
    padding: 0.3rem 1rem;
  }
  .skill p {
    font-size: 0.9rem;
    padding: 0.7rem 0;
  }
  .badge {
    width: 5rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 370px) {
  .project-img {
    width: 18rem;
    height: 10rem;
  }
  .badge {
    width: 4rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 370px) {
  .project-img {
    width: 15rem;
    height: 8rem;
  }
  .project-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .project-buttons button {
    margin-bottom: 15px;
  }
}
