/* CSS STYLES */
:root {
  --color-primary: #802bb1;
  --color-primary-dark: #671894;
  --color-background: #2d283e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  color: #fff;
}
body {
  width: 100vw;
  background-color: var(--color-background);
  font-family: monospace;
  overflow-x: hidden;
}
.row {
  width: 90vw;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
  display: grid;
  place-items: center;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}
section,
footer {
  padding-top: 30px;
  height: fit-content;
  border-top: 2px solid var(--color-primary);
  transition: transform 1s, opacity 1s;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(197, 197, 197);
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}
/* STICKY NAV */
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100vw;
  padding: 0 20px;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.356);
  z-index: 999;
}

.sticky-nav {
  position: fixed;
}
.logo {
  width: 3rem;
  height: 3rem;
  margin-left: 10px;
}
.nav-icon {
  display: none;
}
.nav-icon img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
}
.nav-items ul li {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 2rem;
  transition: all 1s ease;
}
.nav-items ul li:hover {
  transform: scale(1.15);
}
.nav-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.nav-mobile ul li {
  padding: 10px 0;
  font-size: 1.25rem;
  margin: 0;
}
/* Header */
header {
  position: relative;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.landing-profile {
  position: absolute;
}
.welcome-note {
  font-size: 3.5rem;
}
.highlight {
  color: var(--color-primary);
  font-weight: bold;
}
.header-img {
  opacity: 0.1;
}
.header-img img {
  width: 60vw;
}
/* ABOUT ME */
.box {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}
.content {
  font-size: 2rem;
  line-height: 3rem;
  padding: 30px 0;
}
.content p {
  text-align: justify;
}
/* PROJECTS */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.project {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-bottom: 5rem;
}
.project-right {
  grid-template-columns: 4fr 1fr;
}
.projects-buttons {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}
.project-img {
  width: 22rem;
  height: 13rem;
  border: 5px solid var(--color-primary);
  border-radius: 5px;
}
.left {
  margin-left: 3rem;
}
.right {
  margin-right: 3rem;
}
.project-description p {
  font-size: 1.4rem;
  line-height: 2rem;
  padding-bottom: 30px;
}
.project-but {
  font-size: 1.2rem;
  transition: all 0.7s ease;
  padding: 0.5rem 0.9rem;
  margin-right: 6px;
  margin-top: 10px;
  border-radius: 50px;
}
.project-but:hover {
  transform: scale(1.1);
}
.project-site-link {
  background-color: var(--color-primary);
}
.project-site-link:hover {
  background-color: var(--color-primary-dark);
}
.project-repo-link {
  background-color: #000;
}
.project-repo-link a {
  color: #fff;
}
.projects-more {
  padding: 0.3rem 1.2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-primary);
  transition: all 1s ease;
}
.projects-more:hover {
  color: var(--color-primary-dark);
  border-bottom: 2px solid var(--color-primary-dark);
  transform: scale(1.2);
}
/* SKILLS */
#skills {
  height: fit-content;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
  padding: 3rem 0;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 4px solid var(--color-primary);
  border-radius: 50%; */
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  padding: 0.6rem 2rem;
  padding: 15px 40px;
  /* border-bottom: 10px solid var(--color-primary); */
  transition: all 1s ease;
}
.skill p {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}
.badge {
  width: 6rem;
  height: 6rem;
}
.skill:hover {
  transform: translateY(-5%);
}
/* CONTACT */
#contact {
  height: fit-content;
}
.social-links {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.mail {
  display: flex;
  align-items: center;
}
.mail p {
  font-size: 2rem;
  font-family: serif;
}
.other-social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.social-links img {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 1s ease;
}
.social-links img:hover {
  transform: scale(1.1);
}
/* Nav-mobile */
/* Contact Modal Form */
form {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
}
label {
  color: #fff;
  margin-bottom: 10px;
}
textarea {
  resize: vertical;
}
form div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
input {
  max-width: 90vw;
  height: 2rem;
}
form button {
  align-self: flex-end;
}
button[type="submit"] {
  align-self: center;
  color: #fff;
  font-weight: bold;
  margin: 20px;
  transition: all 1s ease;
}
button[type="submit"]:hover {
  transform: scale(1.1);
  color: var(--color-primary-dark);
}
.close-contact {
  width: 1.75rem;
  height: 1.75rem;
}
.form-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95vw;
  background-color: #000;
  padding: 3rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  z-index: 150;
  transition: all 0.5s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
/* HIDDEN */
.hidden {
  display: none;
}
.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}
