/* CSS STYLES */
:root {
  --color-primary: #ffa000;
  --color-primary-dark: #ff8f00;
  --color-background: rgb(238, 238, 238);
  --color-highlight: #00f;
  --color-highlight-html: #f06529;
  --color-highlight-css: #2965f1;
  --color-highlight-js: #f0db4f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: var(--color-background);
  font-family: "ZCOOL KuaiLe", cursive;
  overflow-x: hidden;
}
/* ::-webkit-scrollbar {
  width: 0; 
  background: transparent;
} */
.row {
  display: grid;
  place-items: center;
  width: 90vw;
  /* height: 100vh; */
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
  display: grid;
  place-items: center;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}
section,
footer {
  height: fit-content;
  border-top: 2px solid var(--color-primary);
}
a {
  text-decoration: none;
  color: #000;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
/* STICKY NAV */
.sticky-nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  width: 100vw;
  height: 55px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.356);
  z-index: 50;
}
.logo {
  width: 4rem;
  height: 4rem;
}
.nav-icon img {
  width: 1.5rem;
  height: 1.5rem;
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
}
.nav-items ul li {
  display: inline-block;
  font-size: 1.05rem;
  font-weight: bold;
  margin-right: 3rem;
  transition: all 1s ease;
}
.nav-items ul li:hover {
  transform: scale(1.15);
}
/* Header */
header {
  height: 100vh;
}
.landing-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.welcome-note {
  font-size: 3rem;
}
.highlight {
  color: var(--color-primary);
}
.landing-profile-photo {
  width: 25rem;
  height: 25rem;
}
/* ABOUT ME */
.box {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}
.content {
  font-size: 2rem;
  padding-left: 5rem;
  line-height: 3rem;
}
.rect-svg {
  width: 130px;
  height: 130px;
  background-color: var(--color-primary);
  transition: transform 2s;
}
.rect-svg:hover {
  transform: rotate(360deg);
}
.highlight-html {
  color: var(--color-highlight-html);
}
.highlight-css {
  color: var(--color-highlight-css);
}
.highlight-js {
  color: var(--color-highlight-js);
}
/* PROJECTS */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.project {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-bottom: 5rem;
}
.project-right {
  grid-template-columns: 4fr 1fr;
}
.project-img {
  width: 22rem;
  height: 13rem;
  border: 5px solid var(--color-primary);
  border-radius: 5px;
}
.left {
  margin-left: 3rem;
}
.right {
  margin-right: 3rem;
}
.project-description p {
  font-size: 1.4rem;
  line-height: 2rem;
  padding-bottom: 30px;
}
.project-but {
  font-size: 1.2rem;
  transition: all 0.7s ease;
  padding: 0.5rem 0.9rem;
  margin-right: 6px;
  border-radius: 50px;
}
.project-but:hover {
  transform: scale(1.1);
}
.project-site-link {
  background-color: var(--color-primary);
}
.project-site-link:hover {
  background-color: var(--color-primary-dark);
}
.project-repo-link {
  background-color: #000;
}
.project-repo-link a {
  color: #fff;
}
.projects-more {
  padding: 0.3rem 1.2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
  transition: all 1s ease;
}
.projects-more:hover {
  color: var(--color-primary-dark);
  border-bottom: 2px solid var(--color-primary-dark);
  transform: scale(1.2);
}
/* SKILLS */
#skills {
  height: fit-content;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
  padding: 3rem 0;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--color-primary);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0.6rem 2rem;
  border-bottom: 10px solid var(--color-primary);
  transition: all 1s ease;
}
.skill p {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}
.badge {
  width: 6rem;
  height: 6rem;
}
.skill:hover {
  transform: translateY(-5%);
}
/* CONTACT */
#contact {
  height: fit-content;
}
.social-links {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.mail {
  display: flex;
  align-items: center;
}
.mail p {
  font-size: 2rem;
  font-family: serif;
}
.other-social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.social-links img {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 1s ease;
}
.social-links img:hover {
  transform: scale(1.1);
}
/* HIDDEN */
.hidden {
  display: none;
}
#projects-hidden {
  display: none;
}
